/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 2001px) {
  .head-text1{
    left: 38%;
  }
  .head-text2{
    left: 34%;
  }
  .owl-button{
    left: 46%;
  }
}


@media only screen and (min-width : 1201px) and (max-width: 2000px) {
   .allBooksHeader{
     margin-right: 250px;
   }


}
@media only screen and (max-width : 1200px) {
   .nav{
      margin-right: 50px;
   }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   .logotype{
      padding-left: 10px;
   }
   .nav{
      margin-right: 0px;
   }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}












/*==========================================  Mobile First Method ========= ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
